{%extends 'base.html'%}
{%set active_page = 'home'%}
{% block content%}
   <div class="row">
      <div class="col-lg-3">
         <div class="my-4">
              <h1>Filters</h1>
         </div>
      </div>

      <div class="col-lg-9">
         <div class="row my-5 card-wrapper">
            <div class="col-lg-4 col-md-6 mb-4">
               <div class="card h-100">
                   <div class="card-img-top embed-responsive-16by9">
                       <a href="#">
                          <img src="{{url_for('static', filename='images/placeholder.png')}}" alt="Place holder for now">
                       </a>
                   </div>
                  <div class="card-body">
                     <a href="#">
                        <h4>Item tittle</h4>
                     </a>
                     <h5>$2.00</h5>
                     <p class="card-text">Item description</p>
                  </div>
                  <div class="card-footer">
                     <small class="text-muted">
                        Category -> Subcaterory
                     </small>

                  </div>

               </div>
            </div>

         </div>
      </div>



   </div>
{% endblock %}